.sources,
.categories {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.sources {
    width: 100%;
    height: 120px;
}

.categories {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: auto;
    width: 25%;
}

.categories.active {
    flex-direction: row;
    width: 100%;
}

.categories.active .category__item{
    flex-direction: row;
    width: 100%;
    color: #ffffff;
    border-color: #73726e;
    margin: 0.2em;
    padding: 1em;
    animation: cat-active 0.5s;
}

.categories.active .category__item:hover,
.categories.active .category__item.active,
.categories.active .category__item:focus  {
    border-color: #c0c0c3;
    /* color: #ffffff; */
    box-shadow: 0 0.5em 0.5em -0.4em #c0c0c3;
    transform: translateY(-0.25em);
}

.categories.active {
    flex-direction: row;
    width: 100%;
    animation: cat-active 0.5s;
}

@keyframes cat-active {
  0% {
    opacity: 0.1;
    scale: 0.5;

  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.source__item,
.category__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus,
.source__item.active,
.category__item:hover,
.category__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name,
.category__item-name {
    font-weight: 400;
    white-space: nowrap;
}
