* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.4s ease-in-out;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  @include bgImageSvgDarkBlue;
  background-attachment: fixed;

  &.theme-light {
    @include bgImageSvgLightStrings;

    .cell {
      background-image: $keyBgColorBlue !important;
      border-color: rgb(192 191 121) !important;

      &.cell-opened {
        background-color: $keyColorYellowLight !important;
        background-image: none !important;
      }
    }
  }
}

body > * {
  margin: 0 auto;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  width: fit-content;
  margin: 0.1em;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  text-shadow: -1px -1px 0px black;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(
    #bdd7fa,
    #5d66b1 35.71%,
    #010767 38.24%,
    #40def7
  );
  background-color: blue;
  box-shadow: 0px 4px 2px #232b3a;

  &:hover {
    background-image: linear-gradient(
      #bdd7fa,
      #5d66b1 35.71%,
      #3b3f85 38.24%,
      #40def7
    );
    // transform: perspective(500px) rotateX(20deg);
  }

  &:active {
    transform: translateY(1px) scale(0.97);
    box-shadow: none;
  }
}

.info-section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Times;
  margin-bottom: 2%;
  // margin-top: 2%;
  padding: 1%;
  background-color: #3c4d77;
  box-shadow: 0px 1px 10px #233c84;
  border-radius: 10px;
  // color: #bfc39f;
  // font-size: 2.5vw;
  text-align: center;
  font-size: 2vw;
  color: #9fa9c3;
  text-shadow: 0 -1px 0 #fff, 0 -2px 0 #1a2133;
  // transform: perspective(1000px) rotateX(30deg);

  .info-section__counter-wrapper,
  .info-section__click-wrapper,
  .info-section__timer {
    width: 15vw;
    padding: 3px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // text-shadow: 0 -1px 0 #fff, 0 -2px 0 #1a2133;
    border: 0.8vw solid #35456b;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #1a2133, #4d6398);
  }

  .info-section__timer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .info-section__settings-btn {
    cursor: pointer;
    font-size: 5vw;
  }

  // .start-btn {
  //   margin: 0.1em;
  //   font-weight: bold;
  //   color: #ffffff;
  //   cursor: pointer;
  //   padding: 0.5rem 2.5rem;
  //   text-shadow: -1px -1px 0px black;
  //   border: none;
  //   border-radius: 10px;
  //   background-image: linear-gradient(
  //     #bdd7fa,
  //     #5d66b1 35.71%,
  //     #010767 38.24%,
  //     #40def7
  //   );
  //   background-color: blue;
  //   box-shadow: 0px 4px 2px #232b3a;

  //   &:hover {
  //     background-image: linear-gradient(
  //       #bdd7fa,
  //       #5d66b1 35.71%,
  //       #3b3f85 38.24%,
  //       #40def7
  //     );
  //     // transform: perspective(500px) rotateX(20deg);
  //   }

  //   &:active {
  //     transform: translateY(1px) scale(0.97);
  //     box-shadow: none;
  //   }
  // }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5vh auto;
  max-width: 900px;
  max-height: 80vh;
  font-family: $cellFont;

  .playground {
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 3px 3px 10px 0px #000000;

    .playground__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 0.5vw;

      .cell {
        @include fontColor($keyColorLightGreen);
        white-space: nowrap;
        user-select: none;
        width: $cellLineHeight;
        height: $cellLineHeight;
        border-radius: 12%;
        border: 0.1vw solid rgba(143, 197, 251, 1);
        box-shadow: 0px 1px #1a2133;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: $keyBgColorDefault;
        transition: transform 0.3s ease-in-out;

        &.cell-opened {
          font-size: $cellFontSize;
          line-height: $cellLineHeight;
          background-image: none;
          background-color: $keyColorBlue;
        }

        &.cell-flag_wrong,
        &.cell-mine_boom {
          @include fontColor($keyColorPinc);
          // width: 7vw;
        }

        &.cell-flag_good {
          background-image: $keyBgColorGoodFlag;
        }
        &.cell_mines-around-1 {
          // background-image: $keyBgColorGoodFlag;
          @include fontColor($keyColorGreen);
        }
        &.cell_mines-around-2 {
          // background-image: $keyBgColorGoodFlag;
          @include fontColor($keyColorYellow);
        }
        &.cell_mines-around-3 {
          // background-image: $keyBgColorGoodFlag;
          @include fontColor($keyColorOrange);
        }
        &.cell_mines-around-4 {
          // background-image: $keyBgColorGoodFlag;
          @include fontColor($keyColorPinc);
        }
        &.cell_mines-around-5 {
          // background-image: $keyBgColorGoodFlag;
          @include fontColor($keyColorDarkBlue);
        }
        &.cell_mines-around-6 {
          // background-image: $keyBgColorGoodFlag;
          @include fontColor($keyColorViolet);
        }
      }
    }
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  padding: 2vh;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #2d3a59;
  font-size: 3vh;
  color: #c1c6d4;
  text-shadow: -1px -1px 0px black;
  transform: translateX(200%);

  &.nav_active {
    visibility: visible;
    transform: translateX(0);
    z-index: 2;
  }

  .nav-menu__close-btn {
    // position: relative;
    // font-size: 4vw;
    cursor: pointer;
  }

  .nav-menu__wrapper {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: 2.3rem;
    gap: 1vh;

    .nav-menu__title {
      margin: 2vh 0 1vh;

      &.title_score {
        cursor: pointer;
        border-bottom: 2px solid;
      }
    }

    .nav-slider-wrapper {
      width: 100px;
      height: 4vh;
      background: linear-gradient(to bottom, #0e2f84 0%, #708ae8 100%);
      // margin: 0 10px;
      position: relative;
      border-radius: 50px;
      box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.5),
        0px 2px 0px rgba(255, 255, 255, 0.2);

      // @media (orientation: portrait) {
      //   width: 15vw;
      // }

      &.wrapper_theme {
        &:before {
          content: "DARK";
          color: #000000;
        }
        &:after {
          content: "LIGHT";
          color: #ffffff;
        }
      }

      &:after,
      &:before {
        content: "ON";
        color: #0fdc66;
        position: absolute;
        right: 6px;
        z-index: 0;
        font: 2vh/5vh Arial, sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgb(29 4 4);
      }

      &:before {
        content: "OFF";
        color: #b30101;
        left: 6px;
        text-shadow: 1px 1px 0px rgb(255 255 255 / 18%);
      }

      .theme-slider {
        visibility: hidden;

        &:checked + label {
          left: 47px;
        }
      }
      label {
        display: block;
        width: 50px;
        height: 3.5vh;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        background: #fcfff4;
        background: linear-gradient(
          to bottom,
          #fcfff4 0%,
          #dfe5d7 40%,
          #b3bead 100%
        );
        border-radius: 50px;
        // transition: all 0.4s ease;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
      }
    }
    .menu-level {
      cursor: pointer;
      font-size: 2.5vh;
      padding: 1vh 0 2vh 2vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2vh;

      & > * {
        border-bottom: 1px solid;
      }
    }
    .level-custom-wrapper {
      display: flex;
      max-width: 25vw;
      min-width: 15vw;
      padding: 0.5vh 11px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.8vw solid #35456b;
      border-radius: 5px;
      background-image: linear-gradient(to bottom, #1a2133, #4d6398);
    }
    .custom-level-form {
      visibility: hidden;

      &.nav_active {
        display: flex;
        gap: 1vh;
        flex-direction: column;
        font-size: 2.5vh;
        visibility: visible;
      }

      input[type="number"] {
        background-image: linear-gradient(to bottom, #647192, #fcfdff);
        outline: none;
        appearance: none;
        padding: 0.2vh 1vw;
        font-size: 2.5vh;
        max-width: 5rem;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-score {
    position: relative;
    color: #ffffff;
    padding: 5vh 5vw;
    background: rgb(53 69 107 / 95%);

    .nav-menu__close-btn {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 3.5vh;
      width: 6vh;
      height: 6vh;
      border: 1px solid;
      padding: 1.5vh;
      line-height: 3vh;
      border-radius: 3vh;
      color: rgb(245 242 226);

      @media (orientation: portrait) {
        font-size: 3.5vh;
      }
    }

    .modal-score-title {
      text-align: center;
      font-size: 5vh;
      padding-bottom: 5vh;
    }

    .modal-score-tbl {
      display: flex;
      flex-direction: column;
      gap: 2vh;

      .score-tbl-titles,
      .score-tbl-results {
        display: flex;
        gap: 2vw;
        font-size: 3.5vw;

        & > * {
          width: 15vw;
        }
      }
      .score-tbl-results {
        font-size: 2.5vh;
        // @media (orientation: landscape) {
        //   font-size: 3vh;
        // }
        @media (orientation: portrait) {
          font-size: 2.5vw;
        }
      }
      .score-tbl-titles {
        font-size: 3.5vh;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 1vh 0;

        @media (orientation: portrait) {
          font-size: 3.5vw;
        }
      }
    }
  }
}

// Remove arrows from input[type="number"]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  // display: none; <- Crashes Chrome on hover
  -webkit-appearance: none;
  margin: 0; // <-- Apparently some margin are still there even though it's hidden
}

// [title] {
//   position: relative;
// }
// [title]:after {
//   content: attr(title);
//   color: #fff;
//   background-color: #3C4D77;
//   padding: 10px;
//   position: absolute;
//   left: -9999px;
//   opacity: 0;
//   bottom: 100%;
//   white-space: nowrap;
//   border-radius: 3px;
//   // transition:0.25s linear opacity;
// }
// [title]:hover:after {
//   left: 5px;
//   opacity: 1;
// }
.end-game-text {
  position: absolute;
    top: 30%;
    right: 10%;
  margin: auto;
  font-size: 10vw;
  font-weight: bold;
  text-shadow: 0 -1px 0 #fff, 0 7px 0 rgba(34, 34, 34, 0.32),
    0 8px 0 rgba(32, 32, 32, 0.31), 0 9px 0 rgba(31, 31, 31, 0.35),
    0 10px 0 rgba(28, 28, 28, 0.28), 0 11px 0 rgba(25, 25, 25, 0.28),
    0 22px 30px rgba(0, 0, 0, 0.38);
  color: #c7d1da;
  z-index: 999;
  animation: anim_end_lev 1.5s linear;
}
@keyframes anim_end_lev {
  0% {
    transform: rotate(720deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
