* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // transition: all 0.4s ease-in-out;
}
// *************************
// Put Footer Down to Page
// *************************
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
// *************************

body {
  background-color: $bodyBgColor;
  background-image: $bodyBgImg;
  background-attachment: fixed;
}

header {
  // @include fontColor($keyColorYellow);
  padding: 0 2vh;
  display: flex;
  align-items: center;
  gap: 2%;
  height: 10vh;
  margin-bottom: 2vh;
  border-bottom: 5px groove rgb(188, 188, 188);

  @media (orientation: portrait) {
    padding: 0 2vw;
    height: 10vw;
    margin-bottom: 5vw;
  }
  .swu-img {
    height: 5.5vh;
    width: auto;

    @media (orientation: portrait) {
      height: 5.5vw;
    }
  }
}

h1 {
  color: #f4f4f4;
  text-shadow: 0.2vh 0.5vh 0.5vh rgba(0, 0, 0, 0.8);
  font-family: 'Alexander';
  font-size: 7vh;
  font-weight: 800;
  white-space: nowrap;
  @media (orientation: portrait) {
    font-size: 7vw;
    text-shadow: 0.2vw 0.5vw 0.5vw rgba(0, 0, 0, 0.8);
  }
}

footer {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px groove rgb(114 114 114);
  background: linear-gradient(to bottom, #19011a, transparent);

  @media (orientation: portrait) {
    height: 12vw;
  }

  .copyright {
    color: #999;
    text-align: center;

    @media (orientation: portrait) {
      font-size: 2.5vw;
    }
  }

  .git-ref {
    color: #999;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 2%;
    white-space: nowrap;
    width: 20%;

    .copyright,
    .git-ref {
      font-size: 2.5vh;

      @media (orientation: portrait) {
        font-size: 2.5vw;
      }
    }
  }
  .copyright a {
    color: #777;
  }
  .copyright a:hover {
    color: #999;
  }
  .copyright:before {
    content: '©';
  }

  .rss-ref__img,
  .git-ref__img {
    height: 6vh;
    width: auto;
    fill: #777;

    @media (orientation: portrait) {
      height: 6vw;
    }
  }
}

button {
  font-size: 1.5vh;
  padding: 0.2vh 1vh;
  margin-right: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  border-radius: 0.5vh;
  color: #666;
  border: solid 0.3vh #999;
  border-width: 0.1vh 0.1vh 0.6vh 0.1vh;
  cursor: pointer;
  transition: transform 0.15s;
  transform-style: preserve-3d;

  &:active {
    transform: translateY(0.2vh);
    border-width: 0.1vh 0.1vh 0.5vh 0.1vh;
  }
}

main {
  padding: 0 1vw;

  .control-panel {
    & > form {
      display: flex;
      gap: 1vw;
      padding-bottom: 1vh;
    }
  }

  car-track {
    padding-top: 2vh;
    display: block;
    background-image: linear-gradient(to right, #f6f6f6 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 1.5vh 0.2vh;
    background-repeat: repeat-x;

    .track-btns-wrapper {
      padding: 1vh 0;
      display: flex;
      gap: 1vw;

      .track__car-name {
        font-size: 3vh;
        color: #ffffff;
        padding-left: 2vw;
        text-shadow: 0.1vh 0.1vh 0.2vh #000000;
      }
    }

    .engine-btns-wrapper {
      display: flex;

      & > * {
        border-radius: 25%;
        padding: 0.1vh 0.8vh;
        margin-right: 0.5vw;
      }
    }

    .finish-flag {
      display: inline-block;
      position: relative;
      padding-left: 80vw;
      z-index: 1;

      svg {
        height: 5vh;
      }
    }

    .car {
      display: inline-block;
      // transition: transform 3s linear;

      svg {
        transform: scaleX(-1);
        height: 3.5vh;

        .str0 {
          stroke: #373435;
          stroke-width: 6.94488;
        }
        .str1 {
          stroke: #373435;
          stroke-width: 6.94488;
        }
        .fil1 {
          fill: rgb(231 246 248);
        }
      }
    }
  }
}
